# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
df =  pd.Series([4, 8, 15, 16, 23,42])

In [4]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
list = [1,2,3,4,5,6,7,8,9,10]
series  =  pd.Series(list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [7]:
df1 = pd.DataFrame({"Name" :['Alice' ,'Bob' ,'Claire'] ,
                    "Age" : [25 ,30 ,27],
                    "Gender" : ['Female','Male','Female']
                   })

In [8]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure with labeled axes (rows and columns) that can store and manipulate data in a flexible and efficient manner. It can be thought of as similar to a spreadsheet or a SQL table, where data is organized in rows and columns. A DataFrame can have columns of different data types, such as numerical, categorical, and textual data, and it provides powerful functionalities for data cleaning, data analysis, and data manipulation.

On the other hand, a Series in Pandas is a one-dimensional labeled array that can store data of any data type, such as integers, floats, strings, etc. A Series can be considered as a single column of a DataFrame. A DataFrame can contain one or more Series arranged in columns, with each Series having its own label (column name) and index.

Here's an example to illustrate the difference between a DataFrame and a Series in Pandas:

In [9]:
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'],
                   'Age': [25, 30, 35],
                   'City': ['New York', 'Los Angeles', 'Chicago']})

# Printing the DataFrame
print(df)

# Output:
#    Name  Age           City
# 0  John   25        New York
# 1 Alice   30     Los Angeles
# 2   Bob   35           Chicago

# Accessing a single column as a Series
name_series = df['Name']

# Printing the Series
print(name_series)

# Output:
# 0    John
# 1    Alice
# 2      Bob
# Name: Name, dtype: object

    Name  Age         City
0   John   25     New York
1  Alice   30  Los Angeles
2    Bob   35      Chicago
0     John
1    Alice
2      Bob
Name: Name, dtype: object

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a rich set of built-in functions for data manipulation in a DataFrame. Some common functions that can be used to manipulate data in a Pandas DataFrame include:

1. drop(): This function is used to drop specified rows or columns from a DataFrame. For example, you can drop columns that are not needed in your analysis or drop rows with missing values.

In [10]:
# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Drop column 'B'
df = df.drop('B', axis=1)

# Display the updated DataFrame
print(df)

   A  C
0  1  7
1  2  8
2  3  9

2. rename(): This function is used to rename columns or index labels in a DataFrame. It is useful when you want to change the names of columns to make them more meaningful or to align with your analysis.

In [11]:
# Create a DataFrame
df = pd.DataFrame({'OldName': [1, 2, 3],
                   'OldAge': [4, 5, 6],
                   'OldCity': [7, 8, 9]})

# Rename columns
df = df.rename(columns={'OldName': 'Name', 'OldAge': 'Age', 'OldCity': 'City'})

# Display the updated DataFrame
print(df)

   Name  Age  City
0     1    4     7
1     2    5     8
2     3    6     9

3. groupby(): This function is used to group data in a DataFrame based on one or more columns, and then perform aggregation or transformation operations on the grouped data. It is useful for performing group-wise analysis and calculating statistics.

In [12]:
# Create a DataFrame
df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob', 'Alice', 'John'],
                   'Age': [25, 30, 35, 28, 22],
                   'City': ['New York', 'Los Angeles', 'Chicago', 'Los Angeles', 'New York']})

# Group data by 'Name' and calculate average age for each group
avg_age_by_name = df.groupby('Name')['Age'].mean()

# Display the average age by name
print(avg_age_by_name)

Name
Alice    29.0
Bob      35.0
John     23.5
Name: Age, dtype: float64

4. sort_values(): This function is used to sort the rows of a DataFrame based on the values in one or more columns. It is useful when you want to arrange the data in a specific order for analysis or visualization.

In [14]:
# Create a DataFrame
df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'],
                   'Age': [25, 30, 35],
                   'City': ['New York', 'Los Angeles', 'Chicago']})

# Sort the DataFrame by 'Age' column in ascending order
df = df.sort_values('Age', ascending=True)
df

    Name  Age         City
0   John   25     New York
1  Alice   30  Los Angeles
2    Bob   35      Chicago

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: A Series is a one-dimensional labeled array in Pandas, which can hold data of various types (numeric, string, boolean, etc.). Series objects are mutable, meaning their values and labels can be modified after they are created.

DataFrame: A DataFrame is a two-dimensional labeled data structure in Pandas, consisting of rows and columns. It is similar to a spreadsheet or SQL table. DataFrame objects are also mutable, meaning their values, column names, and index labels can be modified after they are created.

Panel: A Panel is a three-dimensional labeled data structure in Pandas, which can hold data of various types in a tabular format with multiple axes. However, Panels are deprecated in recent versions of Pandas and are not recommended for use. Panel objects are not mutable, meaning their values, item names, and axis labels cannot be modified after they are created. Instead, it is recommended to use multi-dimensional DataFrames or other data structures provided by Pandas.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
city = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Create DataFrame using multiple Series
df = pd.DataFrame({'Name': name, 'Age': age, 'City': city})


print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago